body {
  margin: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 160px; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 160px; /* Footer height */
  justify-content: space-around;
  /* margin-top: 25%; */
}
#footer:after {
  content: "";
  clear: both;
}
@media screen and (max-width: 600px) {
  #footer {
    /* position: fixed; */
    margin-top: auto;
  }
}

/* HEADER */
/* HEADER TITLE */
.cassidyHeader {
  font-size: 200%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 2%;
  margin-left: 1%;
  display: flex;
}
/* HEADER UNDERLINE */
hr {
  position: relative;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(0, 0, 0);
  margin: 1em 0;
  padding: 0;
}

/* TITLE UNDERLINE */
hr.titleLine {
  margin-left: 0;
  margin-right: 0;
}

/* DEFAULT FONT */
.defaultFont {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
}

/* BOLD FONT */
.boldFont {
  font-weight: bold;
}

/* DEFAULT TITLE STYLE */
.bodyTitle {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* DEFAULT SECTION STYLE */
.sectionWrapper {
  margin-bottom: 10%;
}

/* CONTENT OF ITEMS */
/* BODY (AFTER CLICK) */
.body {
  position: absolute;
  top: 83px;
  bottom: 160px;
  /* min-height: 100vh; */
  overflow: auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: none;
  margin: 0% 2% 2% 35%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  width: 40%;
}
@media screen and (max-width: 600px) {
  .body {
    position: static;
    margin: 8%;
    align-items: center;
    overflow: hidden;
    width: auto;
  }
}

/* ABOUT */
.aboutBody {
  flex-direction: column;
}

/* .aboutButton {
  padding-bottom: 20%;
} */

/* EXPERIENCE */
.experienceBody {
  flex-direction: column;
}

/* NAVIGATION */
/* NAVIGATION TITLES (ABOUT, EXPERIENCE, GET IN TOUCH, MORE; +) */
.button {
  width: 23vw;
  font-size: 150%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% 2% 2% 10%;
  cursor: pointer;
  user-select: none;
}
/* KEEP TITLE AND + SYMBOL ON ONE LINE */
@media screen and (max-width: 600px) {
  .button {
    width: 80%;
  }
}

/* GET IN TOUCH */
.contactBody {
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible;
  align-content: flex-start;
}
/* GET IN TOUCH BUTTON PARENT */
#contactButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fffaf3;
  text-align: center;
  color: black;
}
@media screen and (max-width: 600px) {
  #contactButtons {
    flex-direction: column;
  }
}
.contactFont {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
}
a.contactFont:hover {
  background-color: black;
  color: #fffaf3;
}
/* GET IN TOUCH BUTTON CHILD */
button {
  width: 100%;
  border: 2px solid black;
  padding: 5%;
  margin: -1px;
  background: none;
  color: black;
  font-size: inherit;
  outline: none;
  cursor: pointer;
}
button:hover {
  color: #fffaf3;
  background: black;
}

/* MORE */
.moreBody {
  flex-direction: column;
}

/* FOOTER */
/* FOOTER PARENT */
/* .footerGrid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25%;
  position: fixed;
  bottom: 2%;
}
.footerGrid:after {
  content: "";
  clear: both;
}
@media screen and (max-width: 600px) {
  .footerGrid {
    position: fixed;
    margin-top: auto;
    bottom: 10px;
    /* margin-top: 50%; */
/* }
} */

/* FOOTER CHILD */
.footerCell {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 5%;
  flex: auto;
  border: 2px solid black;
  /* border-left: outset; */
  /* border-right: outset; */
  float: left;
  margin: -1px;
  margin-top: auto;
  width: auto;
}
@media screen and (max-width: 600px) {
  .footerCell {
    /* position: absolute; */
    display: block;
    float: none;
    width: 100%;
  }
}
