.cassidyHeader {
  font-size: 200%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 5%;
  display: flex;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(0, 0, 0);
  margin: 1em 0;
  padding: 0;
}

.button {
  width: 25vw;
  font-size: 150%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% 2% 2% 10%;
}
@media screen and (max-width: 500px) {
  .button {
    width: 80%;
  }
}

.body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: none;
  margin: 2% 2% 2% 10%;
}

.footerGrid {
  display: flex;
  width: 100%;
  margin-top: 10%;
  border: 2px solid black;
}

.footerCell {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  padding: 5%;
}
@media (max-width: 500px) {
  .footerCell {
  }
}
